* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Estilos personalizados para los colores pastel */
body {
    background-color: #e8d4f8; /* lila pastel */
}

header {
    background-color: #f8c8dc; /* rosa pastel */
}

main {
    background-color: #c8f8d2; /* verde pastel */
}

section {
    background-color: #f8eec8; /* amarillo pastel */
}

footer {
    background-color: #c8dff8; /* azul pastel */
}

/* Asegurar que todos los elementos, excepto main y section, tengan ancho 100% */
body {
    height: 100%;
    margin: 0;
}

header, footer {
    width: 100%; /* Ocupa todo el ancho */
}

/* Centrado y estilo responsivo */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 75%; /* Main con ancho 75% */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-main {
    padding: 2em;
    width: 50%; /* Section con ancho 50% */
    /*text-align: center;*/
}

footer {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajustar padding para el formulario */
form {
    padding: 1em;
}

/* Centrar el botón submit */
.btn-submit {
    display: block;
    margin: 1em auto;
}